node_modules/
dist/
tmp/
out-tsc/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

*.pyc
*.pyo
__pycache__/
instance/
.env
*.sqlite3
*.log
.DS_Store
.vscode/
.idea/
*.egg-info/
*.egg
*.swp
*.swo